.card__wrapper {
  .card__list {
    height: 720px;
    overflow: auto;

    .cyborg {
      margin-bottom: 40px;

      &:nth-last-child(1) {
        margin-bottom: 0px;
      }
    }
  }

  .button__wrapper {
    padding-top: 40px;
    display: flex;
    justify-content: center;
  }
}
